<footer>
    <div class="useful-link-group">
        <a class="useful-link" target="_blank" href="https://github.com/alanwei0"><img alt="github-logo" src="<%= prefixPath %>/icons/github.svg"></a>
    </div>
    <div class="blog-copyright">
        &copy; 2020 Alan Wei. Icons powered by <a target="_blank" href="https://fontawesome.com/license/free">Font Awesome</a>.
    </div>
</footer>



