* {
  box-sizing: border-box;
}

html {
  font: 62.5%/1.5
  -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,Helvetica,Arial,
  PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Source Han Sans CN,sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  text-rendering: optimizeLegibility;
  background-color: #F3F4F6;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  color: #333;
  max-width: 840px;
  margin: 0 auto;
  min-height: 100vh;
}

@media (min-width: 840px) {
  body {
    margin: 1rem auto;
    min-height: calc(100vh - 2rem);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.yxx-paper {
  position: relative;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.4rem 0.6rem -0.1rem, rgba(0, 0, 0, 0.06) 0 0.2rem 0.4rem -0.1rem;
  border-radius: 0.4rem;
  padding: 1rem 2.5rem;
}

.yxx-paper:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2.5rem;
  padding: 0.5rem 0;
  background: radial-gradient(#ccc 0.3rem, #0000 0.3rem) repeat-y;
  background-size: 1.5rem 1.5rem;
  background-position-x: 50%;
  background-origin: content-box;
  background-clip: content-box;
}

.yxx-paper:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2.5rem;
  width: 6.5rem;
  border-right: 1px solid #FCA5A5;
}

.yxx-line {
  border-top: 1px solid #eee;
  background: linear-gradient(#0000, #0000 3.4rem, #eee 3.4rem);
  background-size: 3.5rem 3.5rem;
  line-height: 3.5rem;
}

.yxx-line .yxx-side-info {
  width: 6.5rem;
  padding-right: 1rem;
  text-align: right;
  white-space: nowrap;
}
