.post {
  flex: 1;
  margin-bottom: 24px;
}

.post-title {
  text-align: center;
  font-size: 30px;
}

.post-base-info {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}

.post-content {
  margin-bottom: 24px;
}

.post-copyright-panel {
  width: 100%;
  font-size: 13px;
  color: #767676;
  padding-left: 5px;
  border-left: 2px solid #767676;
}

.post-copyright-panel tbody {
  vertical-align: top;
}

.post-copyright-panel tbody tr td:first-child {
  width: 1px;
  white-space: nowrap;
  text-align: right;
}

/*@media (min-width: 840px) {*/
/*  .post {*/
/*    margin: 10px;*/
/*  }*/
/*}*/

.post-jump {
  flex: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 24px 0;
}

.post-jump .btn {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post-jump .btn a {
  text-decoration: none;
}

.post-jump .next-btn a {
  color: #479651;
}

.post-jump .prev-btn a {
  color: #9c4545;
}
