.post {
  flex: 1;
  margin: 1rem 0;
}

.post-title {
  text-align: center;
}

.post-base-info {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.post-content {
  margin-bottom: 2rem;
  line-height: 1.8;
}

.post-content p {
  text-align: justify;
  margin: 1.5em 0;
}

.post-content *:first-child {
  margin-top: 0;
}

.post-content *:last-child {
  margin-bottom: 0;
}

.post-copyright-panel {
  width: 100%;
  font-size: 1.3rem;
  color: #767676;
  padding-left: 0.5rem;
  border-left: 0.2rem solid #767676;
}

.post-copyright-panel tbody {
  vertical-align: top;
}

.post-copyright-panel tbody tr td:first-child {
  width: 0.1rem;
  white-space: nowrap;
  text-align: right;
}

@media (min-width: 840px) {
  .post {
    margin: 1rem;
  }
}
