.post {
  flex: 1;
  margin: 1rem;
}

.post-title {
  text-align: center;
}

.post-base-info {
  text-align: center;
  margin-bottom: 1rem;
}

.post-content *:first-child {
  margin-top: 0;
}

.post-content *:last-child {
  margin-bottom: 0;
}

